<!DOCTYPE html >
<html lang= "fr">
  <head >
    {% block title %}
      <title> Bibliotheque locale </title >
    {% endblock %}
    <meta charset= " utf-8 ">
    <meta name= " viewport " content= " width=device-width ,
    initial-scale=1 ">
    <!-- On ajoute un fichier CSS depuis les static -->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    {% block menu %}
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <h1><class="navbar-brand" href="#">R&T Dev</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" href= "{% url 'index' %}" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= "{% url 'machines' %}">Machines</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href= "{% url 'personne' %}">Personne</a>
            </li>
          </ul>
          <form role="search">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </nav>




        {% block sidebar %}
        
        {% endblock %}
    {% endblock %}

    <!-- On ajoute image ici depuis les statics -->
{% load static %}
     
    

    {% block content  %}
      
    <main class="form-signin w-25 m-auto">
      <form>
        {% load static %}
        <img class="mb-4" src="../static/computerapp/images/logo_r&t.jpg" texte-align="center" alt="" width="72" height="57">
        {% load static %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
    
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022–2023</p>
      </form>
    </main>

    
    {% endblock %}
  </body>
</html )à>
